// Specific CSS for your home-page

#home-banner{
  width:100%;
  height:90vh;
  background-position: bottom;
  background-size:cover;
  position: relative;
  display:flex;
  justify-content: center;
}

.home-inputs{
  padding:0.5em;
  border-radius:20px;
  margin-right:0.3em;
  margin-top: 1em;
  &::placeholder{
    font-family: "Raleway"
  }

}

.dates{
  width:15%;
}

#home-city-search{
  flex: 1 1 50%;
}


#home-form{
  width:80%;
  display:flex;
  justify-content: space-around;
  text-align: center;
}

#home-search-btn{
  margin-left:0.3em;
  background: rgb(6, 179, 228);
  color:white;
  padding: 0 15px;
  box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0px;
  border:none;
}

.date{
  width:15%;
  margin-left:0.3em;
}

#banner-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:200px;
  width:80%;
}

#home-h1{
  color:white;
  font-size:2em;
}

.search-container{
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 2em;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

span#search-hint{
  color:white;
  font-size:1.3em; 
}

.home-h2s{
  text-align:center;
  color:white;
  height:10%;
  margin: 50px auto;
}
#g1{
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  font-size:2em;
}

#libre{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:400px;
  background: linear-gradient(270deg, #8bd2c0, #1b7fa2, #1337b8, #462f95, #6e2ea5, #824d9c, #c261cf);
  background-size: 1400% 1400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

#explication{
  height:fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color:white;
  background-image:
  radial-gradient(rgb(194, 194, 230) 9px, transparent 10px),        
  repeating-radial-gradient(rgb(194, 194, 230) 0, rgb(194, 194, 230) 4px, transparent 5px, transparent 20px, rgb(194, 194, 230) 21px, rgb(194, 194, 230) 25px, transparent 26px, transparent 50px);    
  background-size: 30px 30px, 90px 90px; 
  background-position: 0 0;
  margin-top:2em;

}

#un, #deux, #trois{
  width:60%;
  height:400px;
  margin: 20px auto;
  border: 2px solid grey;
  background-color: white;
  border-radius:5px;
}

@media screen and (max-width:700px){
  #home-form{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #home-banner{
    font-size:20px;
    height:70vh;
    display:flex;
    justify-content: center;
  }
  #home-logo{
    display:none;
  }
  #home-h1{
    font-size:30px;
  }
  #banner-content{
    justify-content: center;
    align-items: center;
    margin:0.5em;
    position: static;
  }
  .home-inputs{
    width:70%;
  }

}

#last_six{
  height: 700px;
  // padding: 1em;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.six-card{
  padding-bottom: 20px;
}

.home-card{
  display: flex;
  flex-direction: column;
  width:300px;
  height:300px;
  // overflow:hidden;
  margin-right:1em;
  text-align: center;
  margin-top:-50px;
  border: 1px solid rgba(201, 194, 194, 0.5);
  border-radius:5px;
  align-items: center;
  padding-top:10px;
  transition: margin-top 0.3s ease;
  &:hover{
    margin-top:-60px;
  }
}

.home-card--image{
  position: relative;
  height: 250px;
}

.home-card--price{
  position: absolute;
  bottom: 10px;
  left:10px;
  color: rgba(207, 161, 22, 0.726);
  background-color: white;
  padding:0.3em;
  font-size:0.8em;
  border-radius:5px;
}

.home-card--city{
  margin:0 auto;
  display: flex;
  align-items: center;
  height:50px;
}

.home-card--user{
  position: absolute;
  top:10px;
  right:10px;
  border-radius:50%;
  height:50px;
  width:50px;
  background-size:cover;
  z-index:5
}

.comment{
  padding:80px 0;
  height: 1300px;
  background-color: #fff;
  position: relative;
  text-align: center;
  h2{
    position: relative;
  }
}

#underline{
  position: absolute;
  top:10;
  left:35%;
  // right:50%;
}

// Step Boxes
.step-boxes{
  padding: 60px;
  display: flex;
  justify-content: center;
}

.step-box{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: fit-content;
  font-family: "Raleway";
  align-items: center;
  height:350px;
}

.step-icon{
  width: 100%;
  margin-bottom: 20px;
}
 
.step-title{
  margin-bottom: 20px;
 }

.step-content{
  font-size: 18px;
  padding: 0 10px;
  width:80%;
  text-align: center;
  justify-self: end;
}

.rating-home{
  font-family: "Raleway";
  font-size:1.3em;
}

#wink{
  font-size:1.2em;
}

#mockup{
  position: absolute;
  bottom: -59px;
}

#appli{
  display: inline;
  height:fit-content;
  position:absolute;
  left:6em;
  width:35%;
  bottom:11%;
  p{
    font-family: 'Raleway';
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

#wallets{
  display: flex;
  justify-content: space-around;
}

#apps{
  position: absolute;
  bottom: 4%;
  left:6em;
  display:flex;
  justify-content: center;
  width: 35%;
  :first-child{
    margin-right:10px;
  }
}


.style-two{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.g1lit-parallax{
  background-position: bottom;
  background-attachment: fixed;
  height: 400px;
}


