// Specific CSS for your home-page

#home-banner{
  width:100%;
  height:90vh;
  background-position: bottom;
  background-size:cover;
  position: relative;
  display:flex;
  justify-content: center;

}


.home-inputs{
  padding:0.3em;
  border-radius:5px;
  margin-right:0.3em;
}

.dates{
  width:15%;
}

#home-city-search{
  flex: 1 1 50%;
}


#home-form{
  width:100%;
  display:flex;
  justify-content: space-around;
  margin-top:50px;
  text-align: center;
}

#home-search-btn{
  margin-left:0.3em;
  background: rgb(6, 179, 228);
  color:white;
  padding: 0 15px;
  box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0px;
  border:none;
}

.date{
  width:15%;
  margin-left:0.3em;
}

#banner-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:200px;
  width:80%;
}

#home-h1{
  color:white;
  font-size:2em;
}

.home-h2s{
  text-align:center;
  color:white;
  height:10%;
  margin: 50px auto;
}
#g1{
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  font-size:2em;
}

#libre{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:400px;
  background: linear-gradient(270deg, #8bd2c0, #1b7fa2, #1337b8, #462f95, #6e2ea5, #824d9c, #c261cf);
  background-size: 1400% 1400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

#explication{
  height:fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color:white;
  background-image:
  radial-gradient(rgb(194, 194, 230) 9px, transparent 10px),        
  repeating-radial-gradient(rgb(194, 194, 230) 0, rgb(194, 194, 230) 4px, transparent 5px, transparent 20px, rgb(194, 194, 230) 21px, rgb(194, 194, 230) 25px, transparent 26px, transparent 50px);    
  background-size: 30px 30px, 90px 90px; 
  background-position: 0 0;
  margin-top:2em;

}

#un, #deux, #trois{
  width:60%;
  height:400px;
  margin: 20px auto;
  border: 2px solid grey;
  background-color: white;
  border-radius:5px;
}

@media screen and (max-width:700px){
  #home-form{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #home-banner{
    font-size:20px;
    height:70vh;
    display:flex;
    justify-content: center;
  }
  #home-logo{
    display:none;
  }
  #home-h1{
    font-size:30px;
  }
  #banner-content{
    justify-content: center;
    align-items: center;
    margin:0.5em;
    position: static;
  }
  .home-inputs{
    width:70%;
  }

}

#last_six{
  height: 700px;
  // padding: 1em;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  // margin:  auto;
  overflow:hidden;

}

.home-card{
  display: flex;
  flex-direction: column;
  width:300px;
  height:300px;
  // overflow:hidden;
  margin-right:1em;
  text-align: center;
  margin-top:-50px;
  border: 1px solid rgba(201, 194, 194, 0.5);
  border-radius:5px;
  align-items: center;
  padding-top:10px;
}

.home-card--image{
  position: relative;
  height: 250px;
}

.home-card--price{
  position: absolute;
  bottom: 10px;
  left:10px;
  color: rgba(207, 161, 22, 0.726);
  background-color: white;
  padding:0.3em;
  font-size:0.8em;
  border-radius:5px;
}

.home-card--city{
  margin:0 auto;
  display: flex;
  align-items: center;
  height:50px;
}

.home-card--user{
  position: absolute;
  top:10px;
  right:10px;
  border-radius:50%;
  height:50px;
  width:50px;
  background-size:cover;
  z-index:5
}


