      <a href="https://g1.duniter.fr/api/#/v1/payment/G2CBgZBPLe6FSFUgpx2Jf1Aqsgta6iib3vmDRA1yLiqU?name=http:%2F%2Flocalhost:3000&amount=1&comment=REFERENCE&redirect_url=http:%2F%2Flocalhost:3000%2Fflats%2F54%252F%23%252Fapp%252Fhome%3Fservice%3Dpayment%26cancel&demo=true" class="btn btn-success">
      Payer avec mon compte Césium
      </a>
