<div id="fluid-footer-container">
  <div class="container" id="footer-content">
    <div id="a-propos">
      <%= cl_image_tag "logo1.png", height: 100, crop: :fit, fetch_format: :auto %>
      <p><em>A propos</em></p>
    </div>

    <div id="duniter-links">
      <ul>
        <li>La théorie relative de la monnaie</li>
        <li>Le géconomicus</li>
        <li>Cesium</li>
        <li>Silkaj</li>
        <li>Forum Duniter.org</li>
        <li>Forum Monnaie Libre</li>
      </ul>
    </div>

    <div id="love">
        Créé avec passion pour la liberté par <br> Thomas Bromehead en 2018.
    </div>
  </div>
</div>
