<footer>
  <div id="a-propos">
    <p><em>A propos</em></p>
  </div>
  <div id="duniter-links">
    <ul>
      <li>La théorie relative de la monnaie</li>
      <li>Le géconomicus</li>
      <li>Cesium</li>
      <li>Silkaj</li>
      <li>Forum Duniter.org</li>
      <li>Forum Monnaie Libre</li>
    </ul>
  </div>
    <div id="id">
      Made with ❤️ for freedom by <br> Thomas Bromehead in 2018.
    </div>
  </div>

</footer>
