<div style="background-image:linear-gradient(-029deg, rgba(100,100,100,0.2) 0%, rgba(0,36,61,0.5) 70%), url('<%= image_path "home/home1"%>')"; id="home-banner">

  <div id="banner-content">

    <%= image_tag("Logo/logo2", size:"270x150", id:"home-logo")%>


    <h1 id="home-h1">Chez qui vous amèneront vos <span id="g1">ğ1</span> ?</h1>
    <form action="/flats" id="home-form">
      <input type="text" class="home-inputs"id="home-city-search" placeholder="Lyon, Honfleur, Douarnenez", name="city">
      <input type="text" class="home-inputs date" placeholder="arrivée" ">
      <input type="text" class="home-inputs date" placeholder="départ">
      <input type="submit", value="Chercher!", class="home-inputs slideUp" id="home-search-btn">
    </form>

  </div>

</div>

  






