.discover-button{
  border-radius: 5px;
  color: white;
  background-color: rgb(2, 179, 228);
  padding:5px;
  text-decoration: none;
  font-size: 0.8em;
  transition: box-shadow 300ms ease-in, transform 300ms ease-in;
  &:hover{
    text-decoration:none;
    box-shadow: 5px 5px 20px hsla(212, 60%, 57%, 0.8);
    margin-top:-100px;
    transform: scale(1.5);
  }
}

a.discover-button{
  text-decoration: none;
  color: white;
  font-size:1em;
}

.btn-cta-create{
  background: rgb(6, 179, 228);
  color:white !important;
  padding: 0.5em 0.8em !important;
  box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0px;
  border:none;
  border-radius:10px;
  margin-right:10px;
  &:hover{
    box-shadow: 5px 5px 30px black;
  }

}

.see-all{
  margin-bottom:2em;
  border: 2px solid rgba(76, 124, 163, 0.75);
  border-radius:10px;
  padding: 0.7em 1em;

}

a.see-all{
  text-decoration: none;
}
