.flat-reviews--show{
  border: 1px solid rgb(224, 220, 220);
  border-radius: 10px;
  padding: 10px 20px;
  display:flex;
  margin-bottom: 1em;
  font-family: 'Raleway';
  position: relative;
}

.avis--user{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}

.avis--avatar{
  margin-bottom: 0.3em;
}

.avis--content{
  font-style: italic;
  font-size:0.8em;
  position: relative;
  &::before{
    content: "“";
    position: absolute;
    left: -15px;
    top: -21px;
    font-size: 40px;
    line-height: 1.4em;

  }
  &::after{
    content: "”";
    position: absolute;
    bottom: 3px;
    right: -9px;
    font-size: 40px;
    line-height: 1.4em;
  }
}

.avis--pseudo{
  font-size:0.6em;
  color: #39CCCC
}

.avis--created{
  position: absolute;
  font-size: 0.6em;
  right:20px;
  bottom:10px;
}
