#duniter-links li{ 
  list-style: none;
}

#fluid-footer-container{
  width:100%;
  background: rgb(250, 250, 252);
  border: 2px solid red;
  height:fit-content;
}

#footer-content{
  margin: 50px auto;
  display:flex;
  justify-content: space-between;
}
