footer{
  display:flex;
  height:fit-content;
  background: burlywood;
  padding:2em;
  justify-content: space-between;
  font-size:0.7em;
  bottom: 0 !important;
}

#duniter-links li{ 
  list-style: none;
}
