footer{
  display:flex;
  height:fit-content;
  background: burlywood;
  padding:2em;
  justify-content: space-between;
  font-size:0.8em;
  bottom: 0 !important;
  margin-top: 50px;
}

#duniter-links li{ 
  list-style: none;
}
