.new_flat_form_bg{
  height:fit-content;
  padding:100px 0;
  display: flex;
  justify-content: center;
}

.new_flat_form{
  height:fit-content;
  background:white;
  border-radius: 5px;
  width:50%;
  padding:2em;
  margin:0 auto;
  
  
}
