.new_flat_form_bg{
  height:fit-content;
  padding:100px 0;
  display: flex;
  justify-content: center;
}

.new_flat_form{
  height:fit-content;
  background:white;
  border-radius: 5px;
  width:40%;
  padding:2em;
  margin:0 auto;  
  border: 1px solid rgba(189, 21, 21, 0.5);
  box-shadow: 2px 3px 50px rgba(189, 21, 21, 0.8);
}

@media only screen and (max-width: 900px){
  .new_flat_form{
    width:90%;
  }
}
