/* Main navbar */
.navbar-wagon--home {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 70px;
  padding: 0px 30px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  transition: 0.5s background-color ease;
  // Increment by 5 for consistency
  z-index: 5;
  width:100%;
  top:  !important;
  color: white;
  margin-bottom:2em;
  font-family: "Raleway";
  font-weight: 400;
}

// .navbar-wagon--home :nth-child(2), .navbar-wagon--home :nth-child(3){
//   color: white;

// }

.navbar-wagon--sitewide {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 70px;
  padding: 0px 30px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  transition: 0.5s background-color ease;
  // Increment by 5 for consistency
  z-index: 5;
  width:100%;
  top: 0 !important;
  margin-bottom: 2em;
  a{
    color: rgb(78, 75, 75);
  }

}
/* Logo */


/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.white-links a{
  color: white !important;
  font-weight: 600;
}
/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-wagon--sitewide a {
  color: black;
  opacity:0.8;
}

/* Navbar link */
.navbar-wagon-link {
  font-size: 16px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
